body {
  font-family: "Montserrat", sans-serif;
  /* background-color: #e5e5e5;
  padding: 40px; */
  position: relative;
  margin: 0;
}
.city{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #005fff;
  width: 625px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 14px;
}

/* wrapper */
.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  background: #ffffff;
  width: 1200px;
  /* margin: 0 auto; */
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}
/* main-content */
.contact-list{
  padding-left: 15px;
  margin-bottom: 5px;
}
.main-content {
  padding: 88px;
}
/* about me */

.my-profession {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 17px;
  color: #000000;
  margin: 0 0 18px 0;
}

.my-name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin: 0 0 28px 0;
}
.my-descr {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #595959;
  width: 625px;
}
.project-item-p{
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #595959;
  width: 625px;
  margin: 0 0 8px 0;
}

.project-item-p1{
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #595959;
  width: 625px;
  margin: 0 0 0 0;
}
.about-me {
  margin-bottom: 64px;
}
/* projects */
.main-content-title {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  color: #000000;
  margin: 0 0 12px 0;
}
.project-item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
.project-list {
  padding: 0 0 0 16px;
  margin: 0;
}
.projects-container {
  margin-bottom: 48px;
}
.project-item-descr {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.project-item-link {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #005fff;
}
/* work-experience */
.work-experience-container {
  margin-bottom: 44px;
}
.work-experience-position {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  margin: 0;
}
.work-experience-place {
  margin-bottom: 15px;
}
.work-experience-company {
  color: #6d9bf5;
}

.work-period {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: #595959;
  margin: 12px 0 8px 0;
}
.work-duties {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #595959;
}

.work-duties-list {
  margin: 16px;
  padding: 0;
}

.education{
    margin: 44px 0 88px 0;
}
.education-place {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #6d9bf5;
  margin-bottom: 12px;
}

.education-management {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 12px;
}
.education-period {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: #595959;
}



/* sidebar */
.sidebar {
  width: 370px;
  background: #e0ebfe;
}

.my-photo {
  margin-top: 40px;
}

.tech-skills-container,
.contacts-container,
.soft-skills-container {
  margin: 48px 0 0 40px;
}

.sidebar-title {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  color: #161d2a;
  margin-bottom: 8px;
}
.contacts-type {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
  margin-right: 8px;
}

.contacts-item {
  margin: 0;
}

.contacts-number {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #2979ff;
}
.contacts-email {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #2979ff;
}
/* skills */
.skills-list {
  margin: 0;
  padding: 0 0 0 12px;
}
.skill-list-item {
  color: #6d9bf5;
}

.skill-list-text {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #161d2a;
}
